# Python
__pycache__/
*.pyc

# Node
node_modules/

# VS Code
.vscode/

# Ambiente virtual
.venv/

# Logs
*.log

# Banco
*.db

# Sistema
.DS_Store
Thumbs.db
# Ambiente virtual do backend
backend/.venv/

# Cache do Python
backend/__pycache__/
**/__pycache__/

# Arquivos do VS Code
.vscode/
# Configurações locais e credenciais
.env
.env.*
!.env.example
backend/.env
